<nav class="nav nav-tabs mb-4 flex-column flex-sm-row">
  <a class="nav-link {% if request.resolver_match.url_name == 'budget_dashboard' %}active{% endif %}" href="{% url 'budget_dashboard' pk=budget.pk %}">
    <i class="bi bi-bar-chart"></i><span class="d-none d-sm-inline ms-1">Dashboard</span>
  </a>
  <a class="nav-link {% if request.resolver_match.url_name == 'category_list' %}active{% endif %}" href="{% url 'category_list' budget_pk=budget.pk %}">
    <i class="bi bi-tags"></i><span class="d-none d-sm-inline ms-1">Categorías</span>
  </a>
  <a class="nav-link {% if 'expense' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'expense_list' budget_pk=budget.pk %}">
    <i class="bi bi-cash"></i><span class="d-none d-sm-inline ms-1">Gastos</span>
  </a>
  <a class="nav-link {% if request.resolver_match.url_name == 'reports' %}active{% endif %}" href="{% url 'reports' budget_pk=budget.pk %}">
    <i class="bi bi-file-earmark-bar-graph"></i><span class="d-none d-sm-inline ms-1">Reportes</span>
  </a>
</nav>
